---
http_interactions:
- request:
    method: post
    uri: https://austin.bcycle.com/api/Authenticate
    body:
      encoding: UTF-8
      string: Password=<%= ENV.fetch('BCYCLE_TEST_PASS') %>&UserName=<%= ENV.fetch('BCYCLE_TEST_USER') %>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":null,"SuccessRedirectUrl":"/my-account"}'
  recorded_at: Sat, 14 May 2016 22:41:41 GMT
- request:
    method: get
    uri: https://austin.bcycle.com/api/sessiontoken/get
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '"XXXXXXXX-11ac-4253-8a93-35aadcbb344e"'
  recorded_at: Sat, 14 May 2016 22:41:41 GMT
- request:
    method: get
    uri: https://portal-den.bcycle.com/1/user/trips?month=5&year=2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Bcycle-Session-Token:
      - XXXXXXXX-11ac-4253-8a93-35aadcbb344e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"tripId\": 1111111,\r\n    \"programName\": \"Austin
      B-cycle\",\r\n    \"checkOutDate\": \"2001-01-01T01:01:01.01Z\",\r\n    \"checkOutLocation\":
        \"Your mom's house\",\r\n    \"checkInDate\": \"2001-01-01T01:01:01.01Z\",\r\n
        \   \"checkInLocation\": \"Your dad's house, oh wait\",\r\n    \"miles\":
        999.80000,\r\n    \"cost\": 0.0000,\r\n    \"moneySaved\": 1.5,\r\n    \"hasBikeComputerData\":
        false,\r\n    \"feeName\": null,\r\n    \"duration\": 22,\r\n    \"isDurationAdjusted\":
        false,\r\n    \"programId\": 72\r\n  }
        \r\n]"
  recorded_at: Sat, 14 May 2016 22:41:42 GMT
recorded_with: VCR 3.0.1
